.imagem{
    background: #252525;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #25252584;
    background-size: cover;
    background-attachment:fixed ;
}
.imagem > p{
    background-color: rgba(0, 0, 0, 0.251);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
}
.imagem#img01{
    background-image: url('../img/joaninha.jpg');
    background-position: right center;
}
.imagem#img02{
    background-image: url('../img/pagina.jpg');
}
